nav {
  @include outer-container;
  margin-bottom: 20px;

  .blog-title {
    @include span-columns(6);
    font-size: 1.4em;
    font-weight: 700;
    letterspacing: 4px;
    text-transform: uppercase;
    h1 {
      margin-bottom: 5px;
    }
  }
  .nav-icons {
    @include span-columns(6);
    @include omega();
    text-align: right;
  }
  .nav-personal {
    border-top: thin gray solid;
    @include span-columns(12);
    text-align: right;
    li {
      padding-left: 1em;
    }
  }
  ul {
    display: inline-block;
  }
  li {
    display: inline;
  }
}


