nav {
  @include outer-container;
  border-bottom: 1px solid $base-border-color;
  margin: em(30) 0;

  ul {
    display: inline-block;
    margin-bottom: em(10);
  }
  li {
    display: inline;
  }
}
.nav-links{
  @include span-columns(3);
  @include shift(6);
  }
.blog-title {
  @include span-columns(3);
  font-size: 1.4em;
  font-weight: 700;
  letterspacing: 4px;
  text-transform: uppercase;
}

