<nav>
  <div class="blog-title">
    <% link_to "/index.html" do %>
      <h1>Wakelablog</h1>
    <% end %>
  </div>
  <div class="nav-icons">
    <ul>
      <li class="nav-item">
        <% link_to "http://github.com/wakelank", target: 'blank' do %>
          <i class="fa fa-github"></i>
        <% end %>
      </li>
      <li class="nav-item">
        <% link_to "http://github.com/wakelank", target: 'blank' do %>
          <i class="fa fa-linkedin-square"></i>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="nav-personal">
    <ul>
      <li class="nav-item">
        wakelank@gmail.com
      </li>
      <li class="nav-item">
        <%= link_to "resume", "/resume_WAKE_LANKARD.pdf" %>
      </li>
      <li class="nav-item">
        <%= link_to "about", "/about.html"  %>
      </li>
    </ul>
  </div>
</nav>

