<div class="sidebar">
  <ul>
    <li><h5 class="heading">Tags</h5></li>
    <li>
      <ol>
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag}", tag_path(tag) %></li>
        <% end %>
      </ol>
    </li>
  </ul>
</div>
