<div class="articles">
  <h1>About Wake</h1>
  <p>I'm comfotrable using the following technologies: Rails, RSpec, PostgreSQL, JavaScript, jQuery, HTML, CSS, Capybara, and Git. </p>

  <p>I’ve been involved in IT off and on for about 15 years as both a manager and developer. I’ve managed the production of sites for brands such as CosmoGirl and AT&T Wireless. I set up a WAMP server and taught myself PHP and MySQL to code a web app that generates production reports for a former employer in Japan. In August of 2014 I took the Web Development Immersive course at General Assembly last year to modernize my skills. </p>

  <p>I’m a great team member and communicator. I’m equally comfortable giving a presentation, contributing in a team meeting, or putting on headphones and busting out code.</p>

  <p>I live outside of New York City in Westechester county, just south of Scarsdale with my wife and two kids.</p>

  <p>When I'm not coding or studying coding, I'm cooking whatever Alton Brown or Cook's Illustrated tells me to cook or playing Kids of Catan with the girls.</p>
</div>
